﻿@{
    ViewBag.Title = "Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Checkout", "Home"))
{
    <div class="homeCheckout__tickets">
        <h3 class="homeCheckout__headLine">Tickets Information</h3>
        <div class="homeCheckout__ticketTableWrapper">
            <table class="homeCheckout__ticketTable">
                <thead>
                    <tr>
                        <th>Customer Detail</th>
                        <th>Ticket Detail</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody id="ticketItems"></tbody>
                <tfoot>
                    <tr>
                        <td></td>
                        <td></td>
                        <td><strong>Total Price: </strong> <span id="totalPrice"></span> (VND)</td>
                    </tr>
                </tfoot>
            </table>
            <input id="hiddenPrice" name="hiddenPrice" type="text" hidden />
        </div>
    </div>

    <div class="homeCheckout__booker">
        <h3 class="homeCheckout__headLine">Booker Information</h3>
        <div class="form-horizontal row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="inputBookerName" class="col-sm-2 control-label text-danger">Name</label>
                    <div class="col-sm-10">
                        <input id="inputBookerName" class="form-control" name="inputBookerNameIn" type="text" placeholder="Full name" required>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputBookerAddress" class="col-sm-2 control-label text-danger">Address</label>
                    <div class="col-sm-10">
                        <input id="inputBookerAddress" class="form-control" name="inputBookerAddressIn" type="text" placeholder="Address" required>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputBookerID" class="col-sm-2 control-label text-danger">ID</label>
                    <div class="col-sm-10">
                        <input id="inputBookerID" class="form-control" type="number" name="inputBookerIDIn" placeholder="Citizenship ID" required>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="form-group">
                    <label for="inputBookerEmail" class="col-sm-2 control-label text-danger">Email</label>
                    <div class="col-sm-10">
                        <input id="inputBookerEmail" class="form-control" name="inputBookerEmailIn" type="email" placeholder="Email" required>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputBookerPhone" class="col-sm-2 control-label text-danger">Phone</label>
                    <div class="col-sm-10">
                        <input id="inputBookerPhone" class="form-control" name="inputBookerPhoneIn" type="number" placeholder="Phone number" required>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="homeCheckout__payment">
        <h3 class="homeCheckout__headLine">Payment Option</h3>
        <div class="row">
            <div class="col-lg-12">
                <div class="radio">
                    <label>
                        <input type="radio" name="paymentOption" id="paymentOption1" value="paypal" />
                        <span class="homeCheckout__paymentOption">
                            <img  src="~/Content/Images/paypal_logo.jpg"/>
                            Online payment with Paypal
                        </span>
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="paymentOption" id="paymentOption2" value="cod" checked />
                        <span class="homeCheckout__paymentOption">
                            <img src="~/Content/Images/cod.jpg" />
                            Pay at station counters
                        </span>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="homeCheckout__submit">
        <button class="btn btn-primary" type="submit"  onsubmit="handleSubmit(event)">
            <h2>Checkout</h2>
        </button>
    </div>
    <input id="hiddenPrice" name="hiddenPrice" hidden/>
}

@section styles {
    <link href="@Url.Content("~/Content/AppStyles/HomeCheckout.css")" rel="stylesheet" />
}

@section scripts {
    <script src="@Url.Content("~/Scripts/AppScripts/HomeCheckout.js")"></script>
}

