﻿@{
    ViewBag.Title = "Checkout Fail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="homeCheckoutFail">
    <div class="homeCheckoutFail__warningBox">
        <h3>
            We aren't able to process your payment. 
            <br />
            Please contact support center for support.
        </h3>
    </div>
</div>

@section styles {
    <link href="@Url.Content("~/Content/AppStyles/HomeCheckoutFail.css")" rel="stylesheet" />
}

@section scripts {
    <script>
        let seats = localStorage.getItem("seats") ? JSON.parse(localStorage.getItem("seats")) : [];
        seats = [];
        localStorage.setItem("seats", JSON.stringify(seats));
    </script>
}

