﻿
@{
    ViewBag.Title = "Checkout Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="homeCheckoutSuccess">
    <div>
        <h2>Payment successful !</h2>
    </div>
    <div>
        <table>
            <thead>
                <tr>
                    <th class="bg-warning">ID</th>
                    <th>Name</th>
                    <th>Citizenship ID</th>
                    <th>Price (VND)</th>
                    <th class="bg-warning">Start Location</th>
                    <th class="bg-warning">Arival Location</th>
                    <th class="bg-warning">Bus</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var ticket in ViewBag.bookingDetail.Tickets)
                {
                    <tr>
                        <td>@ticket.id</td>
                        <td>@ticket.customer_name</td>
                        <th>@ticket.citizenship_id</th>
                        <td>@ticket.price</td>
                        <td>
                            @ticket.BookingDetail.from_location
                            <br />
                            (@ticket.BookingDetail.start_time)
                        </td>
                        <td>
                            @ticket.BookingDetail.to_location
                            <br />
                            (@ticket.BookingDetail.arrival_time)
                        </td>
                        <td>
                            @ticket.BookingDetail.Journey.Bus.license_plates
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section styles {
    <link href="@Url.Content("~/Content/AppStyles/HomeCheckoutSuccess.css")" rel="stylesheet" />
}

@section scripts {
    <script>
        let seats = localStorage.getItem("seats") ? JSON.parse(localStorage.getItem("seats")) : [];
        seats = [];
        localStorage.setItem("seats", JSON.stringify(seats));
    </script>
}