﻿@model G2OnlineBusTicket.Models.Api.JourneySearch
@{
    ViewBag.Title = "Home";
}

<div class="homeIndex">
    <div class="OBT__panel">
        <div class="OBT__panelHeading">
            <p>Search</p>
        </div>
        <div class="OBT__panelBody">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.startLocation, htmlAttributes: new { @class = "control-label col-md-12" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.startLocation, new { htmlAttributes = new { @class = "form-control", @list = "startLocations" } })
                            @Html.ValidationMessageFor(model => model.startLocation, "", new { @class = "text-danger" })
                            <datalist id="startLocations">
                                @foreach (var station in ViewBag.stations)
                                {
                                    <option value="@station" />
                                }
                            </datalist>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.endLocation, htmlAttributes: new { @class = "control-label col-md-12" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.endLocation, new { htmlAttributes = new { @class = "form-control", @list = "endLocations" } })
                            @Html.ValidationMessageFor(model => model.endLocation, "", new { @class = "text-danger" })
                            <datalist id="endLocations">
                                @foreach (var station in ViewBag.stations)
                                {
                                    <option value="@station" />
                                }
                            </datalist>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.busType, htmlAttributes: new { @class = "control-label col-md-12" })
                        <div class="col-md-12">
                            <select class="form-control" name="busType">
                                @foreach (var busType in ViewBag.busTypes)
                                {
                                    <option value="@busType">@busType</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.startDate, htmlAttributes: new { @class = "control-label col-md-12" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.startDate, new { htmlAttributes = new { @class = "form-control date-picker", @autocomplete = "off" } })
                            @Html.ValidationMessageFor(model => model.startDate, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <input type="submit" value="Search" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <div id="homeIndex__map"></div>
    <div class="OBT__panel">
        <div class="OBT__panelHeading">
            <p>Your cart</p>
        </div>
        <div class="OBT__panelBody">
            <div id="OBT__cart"></div>
            <button id="OBT__cartCheckout" class="btn btn-primary">Buy Ticket</button>
        </div>
    </div>
</div>

@section styles {
    <link href="@Url.Content("~/Content/themes/base/jquery-ui.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/AppStyles/HomeIndex.css")" rel="stylesheet" />
}

@section scripts {
    <script src="@Url.Content("~/Scripts/jquery-ui-1.12.1.min.js")"></script>
    <script src="@Url.Content("~/Scripts/AppScripts/Cart.js")"></script>
    <script src="@Url.Content("~/Scripts/AppScripts/HomeIndex.js")"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRzVi59DosB3gkmwETjEXw3ZMIsH3VmM0&callback=initMap"></script>
}
