﻿@model G2OnlineBusTicket.Models.Api.JourneySearch
@{
    ViewBag.Title = "Search result";
}

<div class="homeSearch">
    <div class="homeSearch__sidebar">
        <div class="OBT__panel homeSearch__cart">
            <div class="OBT__panelHeading">
                <p>Your cart</p>
            </div>
            <div class="OBT__panelBody">
                <div id="OBT__cart"></div>
                <button id="OBT__cartCheckout" class="btn btn-primary">Buy Ticket</button>
            </div>
        </div>
        <div class="OBT__panel homeSearch__search">
            <div class="OBT__panelHeading">
                <p>Search</p>
            </div>
            <div class="OBT__panelBody">
                @using (Html.BeginForm("Index", "Home"))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.startLocation, htmlAttributes: new { @class = "col-md-12" })
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.startLocation, new { htmlAttributes = new { @class = "form-control", @list = "startLocations" } })
                                @Html.ValidationMessageFor(model => model.startLocation, "", new { @class = "text-danger" })
                                <datalist id="startLocations">
                                    @foreach (var station in ViewBag.stations)
                                    {
                                        <option value="@station" />
                                    }
                                </datalist>
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.endLocation, htmlAttributes: new { @class = "col-md-12" })
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.endLocation, new { htmlAttributes = new { @class = "form-control", @list = "endLocations" } })
                                @Html.ValidationMessageFor(model => model.endLocation, "", new { @class = "text-danger" })
                                <datalist id="endLocations">
                                    @foreach (var station in ViewBag.stations)
                                    {
                                        <option value="@station" />
                                    }
                                </datalist>
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.busType, htmlAttributes: new { @class = "col-md-12" })
                            <div class="col-md-12">
                                <select class="form-control" name="busType">
                                    @foreach (var busType in ViewBag.busTypes)
                                    {
                                        <option value="@busType">@busType</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.startDate, htmlAttributes: new { @class = "col-md-12" })
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.startDate, new { htmlAttributes = new { @class = "form-control date-picker", @autocomplete = "off" } })
                                @Html.ValidationMessageFor(model => model.startDate, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <input type="submit" value="Search" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    @if (!ViewBag.noResult)
    {
        <div class="homeSearch__result">
            <h2 class="homeSearch__journeysInformation">
                Departing direction date @ViewBag.startDate from @ViewBag.startLocation to @ViewBag.endLocation
            </h2>
            <div class="homeSearch__journeys">
                @foreach (var matchedJourney in ViewBag.matchedJourneys)
                {
                    if (matchedJourney.id == ViewBag.selectedJourney.id)
                    {
                        <div class="homeSearch__journey active">
                            <img src="~/Content/Images/bus.png" />
                            <br />
                            <strong>Departure: </strong>
                            <small>@DateTime.Parse(matchedJourney.departure.ToString()).ToString("h:mm tt")</small>
                            <br />
                            <strong>Arrival: </strong>
                            <small>@DateTime.Parse(matchedJourney.arrival.ToString()).ToString("h:mm tt")</small>
                            <br />
                            <strong>License plate: </strong>
                            <small>@matchedJourney.Bus.license_plates</small>
                        </div>
                    }
                    else
                    {
                        <div class="homeSearch__journey" onclick="changeJourney(@matchedJourney.id)">
                            <img src="~/Content/Images/bus.png" />
                            <br />
                            <strong>Departure: </strong>
                            <small>@DateTime.Parse(matchedJourney.departure.ToString()).ToString("h:mm tt")</small>
                            <br />
                            <strong>Arrival: </strong>
                            <small>@DateTime.Parse(matchedJourney.arrival.ToString()).ToString("h:mm tt")</small>
                            <br />
                            <strong>License plate: </strong>
                            <small>@matchedJourney.Bus.license_plates</small>
                        </div>
                    }
                }
            </div>
            <div class="homeSearch__busDiagram">
                <div class="homeSearch__busCockpit">
                    <div class="homeSearch__busDriverSeat">
                        <img src="~/Content/Images/wheel.png" />
                    </div>
                </div>
                <div class="homeSearch__busExit">
                    <p>←Exit→</p>
                </div>
                <div class="homeSearch__busCabin">
                    @foreach (var seatRow in ViewBag.seatGrid)
                    {
                        <div class="homeSearch__busCabinRow">
                            <div class="homeSearch__busLeftCabin">
                                @{int countRight = 1;}
                                @foreach (var seat in seatRow)
                                {
                                    if (countRight == 1 || countRight == 2)
                                    {
                                        if (seat.isBooked)
                                        {
                                            <div class="homeSearch__busSeat">
                                                <img id="seat_@seat.id" src="~/Content/Images/booked_seat.gif" />
                                                <strong>@seat.name</strong>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="homeSearch__busSeat">
                                                <img id="seat_@seat.id"
                                                     class="active"
                                                     src="~/Content/Images/available_seat.gif"
                                                     onclick="selectThisSeat(@seat.id,'@seat.name',@ViewBag.selectedJourney.id,'@ViewBag.selectedJourney.startLocation','@ViewBag.selectedJourney.endLocation','@ViewBag.selectedJourney.departure','@ViewBag.selectedJourney.arrival','@ViewBag.selectedJourney.Bus.license_plates')" />
                                                <strong>@seat.name</strong>
                                            </div>
                                        }
                                    }
                                    countRight += 1;
                                }
                            </div>
                            <div class="homeSearch__busRightCabin">
                                @{int countLeft = 1;}
                                @foreach (var seat in seatRow)
                                {
                                    if (countLeft == 3 || countLeft == 4)
                                    {
                                        if (seat.isBooked)
                                        {
                                            <div class="homeSearch__busSeat">
                                                <img id="seat_@seat.id" src="~/Content/Images/booked_seat.gif" />
                                                <strong>@seat.name</strong>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="homeSearch__busSeat">
                                                <img id="seat_@seat.id"
                                                     class="active"
                                                     src="~/Content/Images/available_seat.gif"
                                                     onclick="selectThisSeat(@seat.id,'@seat.name',@ViewBag.selectedJourney.id,'@ViewBag.selectedJourney.startLocation','@ViewBag.selectedJourney.endLocation','@ViewBag.selectedJourney.departure','@ViewBag.selectedJourney.arrival','@ViewBag.selectedJourney.Bus.license_plates')" />
                                                <strong>@seat.name</strong>
                                            </div>
                                        }
                                    }
                                    countLeft += 1;
                                }
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="homeSearch__noResult">
            <h2>No Result</h2>
    </div>
    }
</div>

@section styles {
    <link href="@Url.Content("~/Content/themes/base/jquery-ui.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/AppStyles/HomeSearch.css")" rel="stylesheet" />
}

@section scripts {
    <script src="@Url.Content("~/Scripts/jquery-ui-1.12.1.min.js")"></script>
    <script src="@Url.Content("~/Scripts/AppScripts/Cart.js")"></script>
    <script src="@Url.Content("~/Scripts/AppScripts/HomeSearch.js")"></script>
}