﻿:root {
    --gray: #cccccc;
    --gray-dark: #e6e6e6;
    --primary: #0183c1;
}

.navbar__logo {
    display: flex;
    height: 50px;
    padding: 5px;
}

.navbar__logo img {
    width: 40px;
    height: 40px;
}

.OBT__panel {
    width: 250px;
    min-width: 250px;
    margin-bottom: 20px;
    border: 1px solid var(--gray);
}

.OBT__panelHeading {
    padding: 10px 15px;
    background-color: var(--gray-dark);
    border-bottom: 5px solid var(--primary);
}

.OBT__panelHeading p {
    margin: 0;
    font-size: 15px;
    font-weight: 600;
}

.OBT__panelBody {
    padding: 15px;
}

.OBT__panelBody p {
    margin: 0 0 10px 0;
}

.OBT__cartItem {
    padding: 5px;
    border: 1px solid var(--primary);
    margin-bottom: 10px;
}