﻿.homeSearch {
    display: flex;
}

.homeSearch__sidebar {
    display: flex;
    flex-direction: column;
    margin: 0 20px 0 0;
}

.homeSearch__result {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    overflow: hidden;
}

.homeSearch__journeysInformation {
    margin: 0 0 20px 0;
    padding: 10px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 5px;
    background-color: var(--primary);
    color: white;
}

.homeSearch__journeys {
    display: flex;
    width: 100%;
    padding: 5px;
    margin: 0 0 20px 0;
    overflow: auto;
    border: 2.5px solid var(--primary);
    border-radius: 5px;
}

.homeSearch__journey {
    padding: 5px;
    margin: 0 10px;
    min-width: 175px;
    border: 1px solid var(--primary);
}

.homeSearch__journey:hover {
    cursor: pointer;
    border: 1px solid red;
}

.homeSearch__journey.active {
    background-color: var(--gray);
}

.homeSearch__journey img {
    width: 30px;
    height: 30px;
}

.homeSearch__busDiagram {
    display: flex;
    width: 100%;
    max-width: 460px;
    margin: 0 auto;
    border: 5px solid var(--primary);
    border-radius: 10px;
    overflow: auto;
}

.homeSearch__busCockpit {}

.homeSearch__busDriverSeat {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75px;
    height: 130px;
    margin: 5px;
    border: 1px solid var(--primary);
    background-color: var(--gray);
}

.homeSearch__busDriverSeat img {
    width: 40px;
    height: 40px;
}

.homeSearch__busExit {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-left: 1px solid var(--primary);
    border-right: 1px solid var(--primary);
    border-top: 10px solid #66ff66;
    border-bottom: 10px solid #66ff66;
    background-color: var(--gray-dark);
}

.homeSearch__busExit p {
    transform: rotate(90deg);
    margin: 0;
}

.homeSearch__busCabin {
    display: flex;
}

.homeSearch__busCabinRow {
    margin: 5px;
}

.homeSearch__busLeftCabin, .homeSearch__busRightCabin {
    padding: 5px;
    border: 1px solid #337ab7;
}

.homeSearch__busLeftCabin {
    margin-bottom: 20px;
}

.homeSearch__busSeat {
    display: flex;
    flex-direction: column;
}

.homeSearch__busSeat img {
    width: 40px;
    height: 40px;
    padding: 5px;
    border-radius: 2.5px;
}

.homeSearch__busSeat img.active:hover {
    cursor: pointer;
    background-color: #D3D3D3;
}

.homeSearch__busSeat strong {
    text-align: center;
}

@media (max-width: 768px) {
    .homeSearch {
        flex-direction: column-reverse;
    }

    .homeSearch__search {
        display: none;
    }

    .homeSearch__cart {
        margin-top: 20px;
        width: 100%;
        max-width: none;
    }
}

.homeSearch__noResult {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}