﻿.form-horizontal .control-label {
    text-align: left !important;
}

.homeIndex {
    display: flex;
    justify-content: center;
    align-items: start;
    margin: 30px 0;
}

#homeIndex__map {
    margin: 0 10px;
    width: 100%;
    height: 430px;
}

@media (max-width: 768px) {
    .homeIndex {
        align-items: center;
        flex-direction: column-reverse;
    }

    #homeIndex__map {
        display: none;
    }
}