﻿table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid var(--gray);
    text-align: left;
    padding: 8px;
}

table {
    table-layout: fixed;
}

td {
    width: 33%;
}

.homeCheckout__headLine {
    display: inline-block;
    padding: 5px 50px 5px 10px;
    margin: 20px 0;
    font-size: 20px;
    color: white;
    background: url(/Content/Images/label_bg.png) right bottom no-repeat var(--primary);
}

.homeCheckout__ticketTableWrapper {
    overflow: auto;
}

.homeCheckout__ticketTable {
    width: 1140px;
}

.homeCheckout__payment label {
    display: flex;
    align-items: center;
}

.homeCheckout__paymentOption {
    margin: 5px 10px;
    padding: 5px 10px;
    border: 1px solid var(--primary);
}

.homeCheckout__paymentOption img {
    width: 150px;
    height: 50px;
}

.homeCheckout__submit h2 {
    font-size: 20px;
    margin: 0;
}