﻿table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid var(--gray);
    text-align: left;
    padding: 8px;
}

table {
    table-layout: fixed;
}

td {
    width: 33%;
}