﻿.homeCheckoutFail {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
}

.homeCheckoutFail__warningBox {
    padding: 10px 20px;
    border: 2px solid red;
    border-radius: 10px;
}

.homeCheckoutFail__warningBox h3 {
    margin: 0;
}